<div class="container-main">
  <div class="container-second">
    <div class="container-logo">
      <img class="logo" src="https://play-lh.googleusercontent.com/rX-Y5KnEam9F8cm_kh37NXZUfk7CSyGQQ-XG8BN9jn6zdTIwoiRo8blMli2cXvua8Q"/>
    </div>
    <div class="container-form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Identificación</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <div class="container-button">
          <button mat-raised-button color="primary">Iniciar</button>
        </div>
      </form>
    </div>
  </div>
</div>

