  <h3 class="title">CREAR USUARIO</h3>
  <hr/>
  <!--form [formGroup]="createUserForm" (ngSubmit)="submit()"-->
  <form [formGroup]="createUserForm" (ngSubmit)="saveUser()" >
    <div class="row g-3">

      <div class="col-md-4">
        <label><b class="mandatory">*</b>Tipo Documento</label>
        <select class="form-control" type="text" formControlName="idt" >
          <option [value]="type.idt" *ngFor="let type of typesIdentification">{{type.description}}</option>
        </select>
        <small  *ngIf="stateValidate && this.createUserForm.get('idt')?.errors?.['required']">
          No se ha seleccioando ningun tipo de documento
        </small>
     </div>
     <div class="col-md-4">
      <label for="identification"><b class="mandatory">*</b>Identificación</label>
      <input class="form-control" type="text" formControlName="identification"   id="identification">
      <small *ngIf="stateValidate && this.createUserForm.get('identification')?.errors?.['maxlength']">
        la Identificacion debe de contener maximo 15 caracteres
      </small>
      <small *ngIf="stateValidate && this.createUserForm.get('identification')?.errors?.['validatorNumericField']">
        la Identificacion no debe contener caracteres alfabeto
      </small>
     </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4">
        <label><b class="mandatory">*</b>Primer nombre</label>
        <input class="form-control" type="text" formControlName="first_name" >
        <small *ngIf="stateValidate && this.createUserForm.get('first_name')?.errors?.['maxlength']">
          la Identificacion debe de contener maximo 50 caracteres
        </small>
        <small *ngIf="stateValidate && this.createUserForm.get('first_name')?.errors?.['validatorOnlyLetter']">
          El campo solo debe contener letras
        </small>
      </div>
      <div class="col-md-4">
        <label>Segundo nombre</label>
        <input class="form-control" type="text" formControlName="second_name">
        <small *ngIf="stateValidate &&  this.createUserForm.get('second_name')?.errors?.['maxlength']">
          El segundo nombre debe contener máximo 15 caracteres
        </small>
        <small *ngIf="stateValidate &&  this.createUserForm.get('second_name')?.errors?.['validatorOnlyLetter']">
          El campo solo debe contener letras
        </small>
      </div>
      </div>
      <div class="row g-3">
        <div class="col-md-4">
          <label><b class="mandatory">*</b>Primer Apellido</label>
          <input class="form-control" type="text" formControlName="first_lastname"  required >
          <small *ngIf="stateValidate && this.createUserForm.get('first_lastname')?.errors?.['maxlength']">
            El primer apellido  debe de contener maximo 50 caracteres
          </small>
          <small *ngIf="stateValidate && this.createUserForm.get('first_lastname')?.errors?.['validatorOnlyLetter']">
            El campo solo debe contener letras
          </small>
        </div>
        <div class="col-md-4">
          <label>Segundo apellido</label>
          <input class="form-control" type="text" formControlName="second_lastname">
          <small *ngIf="stateValidate && this.createUserForm.get('second_lastname')?.errors?.['maxlength']">
            El segundo apellido debe contener máximo 15 caracteres
          </small>
          <small *ngIf="stateValidate && this.createUserForm.get('second_lastname')?.errors?.['validatorOnlyLetter']">
            El campo solo debe contener letras
          </small>
        </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4">
        <label><b class="mandatory">*</b>Correo electrónico</label>
        <input class="form-control" type="text" formControlName="email" required>
        <small *ngIf="stateValidate && this.createUserForm.get('email')?.errors?.['required']">
          El email es obligatorio
        </small>
        <small *ngIf="stateValidate && this.createUserForm.get('email')?.errors?.['email']">
          El email es incorrecto
        </small>
      </div>
      <div class="col-md-4">
        <label><b class="mandatory">*</b>Teléfono</label>
        <input class="form-control" type="text" formControlName="phone">
        <small *ngIf="stateValidate && this.createUserForm.get('phone')?.errors?.['maxlength']">
          El número telefónico no debe superar mas de 15 caracteres
        </small>
        <small *ngIf="stateValidate && this.createUserForm.get('phone')?.errors?.['validatorNumericField']">
          El número telefónico solo debe contener números
        </small>
      </div>
      <div class="col-md-4">
        <label>Dirección</label>
        <input class="form-control" type="text" formControlName="address">
        <small *ngIf="stateValidate && this.createUserForm.get('address')?.errors?.['maxlength']">
          La dirección no debe superar mas de 60 caracteres
        </small>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4">
        <label><b class="mandatory">*</b>Password</label>
        <input class="form-control" type="password" formControlName="password">
        <small *ngIf="stateValidate && this.createUserForm.get('password')?.errors?.['maxlength']">
          La contraseña de usuario no debe superar mas de 20 caracteres
        </small>
        <small *ngIf="stateValidate &&  this.createUserForm.get('password')?.errors?.['validatorPassword']">
          La contraseña debe contener una mayúscula, al menos una letra minucula, al menos un dígito,No espacios en blanco, al menos 1 caracter especial
        </small>
      </div>
      <div class="col-md-4">
        <label><b class="mandatory">*</b>Confirmar</label>
        <input class="form-control" type="password" formControlName="confirm">
        <small *ngIf="stateValidate &&  this.createUserForm.get('confirm')?.errors?.['required']">
          Este campo es requerido
        </small>
        <small *ngIf="stateValidate &&  this.createUserForm.get('confirm')?.errors?.['validateComparePassword']">
          La contraseñas no coinciden
        </small>
      </div>
    </div>
    <hr/>
    <div class="col g-3">
      <button class="btn btn-primary"  type="submit">Guardar</button>
      <button class="btn btn-danger" type="button" (click)="cleanForm()">limpiar</button>
    </div>
    <br>
</form>