<div class="container-create-user">
  <h3 class="title">CREAR USUARIO</h3>
  <form [formGroup]="createUserForm" class="row g-3 needs-validation"  (ngSubmit)="submit()">
    <div class="col-md-4">
        <label for="idt">Tipo Documento</label>
        <select class="form-control" type="text" formControlName="idt" id="idt">
          <option [value]="type.idt" *ngFor="let type of typesIdentification">{{type.description}}</option>
        </select>
        <div  *ngIf="stateValidate && this.createUserForm.get('idt')?.errors?.['required']">
          No se ha seleccioando ningun tipo de documento
        </div>
     </div>
     <div class="col-md-4">
      <label for="identification">Identificación</label>
      <input class="form-control" type="text" formControlName="identification"  required id="identification">
      <div *ngIf="stateValidate && this.createUserForm.get('identification')?.errors?.['required']">
        la Identificacion no puede quedar vacia 
      </div>
      <div *ngIf="stateValidate && this.createUserForm.get('identification')?.errors?.['maxlength']">
        la Identificacion debe de contener maximo 15 caracteres
      </div>
      <div *ngIf="stateValidate && this.createUserForm.get('identification')?.errors?.['validatorNumericField']">
        la Identificacion no debe contener caracteres alfabeto
      </div>
     </div>
     <button  type="submit">Guardar</button>
     </form>