<button  class="button-navegation" [matMenuTriggerFor]="user">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
  <p>Usuarios</p>
</button>
<mat-menu  #user="matMenu">
  
  <button  mat-menu-item (click)="navigateUrlMenu('user/user-create')" >Registro Usuario</button>
  <button mat-menu-item (click)="navigateUrlMenu('user/user-list')">Listado Usuarios</button>
</mat-menu>
<button  class="button-navegation" [matMenuTriggerFor]="inventory">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon>
  <p>Inventario</p>
</button>
<mat-menu  #inventory="matMenu">
  <button mat-menu-item >Registro Productos</button>
  <button mat-menu-item >Movimientos</button>
  <button mat-menu-item >Reportes</button>
</mat-menu>
<button  class="button-navegation" [matMenuTriggerFor]="sales">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_shopping_cart"></mat-icon>
  <p>Ventas</p>
<mat-menu #sales="matMenu">
  <button mat-menu-item >Nueva venta</button>
  <button mat-menu-item >Devoluciones</button>
  <button mat-menu-item >Reportes</button>
</mat-menu>