.button-navegation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    font-size: 15px;
    padding: 1%;
    border-radius: 5px;
}

